:root {
    --font-primary: "Graphie", sans-serif, system-ui, -apple-system;
    --super-small: 360px;
    --very-small: 420px;
    --small: 640px;
    --medium: 900px;
    --large: 1100px;
    --very-large: 1300px;
    --super-large: 1600px;
    --huge: 1920px;
}

*,
html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-weight: normal;
}

body {
    background: #FCFCFA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input,
select,
textarea,
button {
    margin: 0;
    font: inherit;
}

img {
    border-style: none;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #E1FF0F;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF7133;
}

::-webkit-scrollbar-button {
    display: none;
    /* hide scroll bar buttons */
}