@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/Graphie-2'); */

@import url('https://use.typekit.net/hfo1jru.css');

/* @font-face {
    font-family: 'Graphie';
    src: url('../resources//fonts/graphie/Graphie-SemiBold.otf') format('opentype');
} */

:root {
    --super-small: 360px;
    --very-small: 420px;
    --small: 640px;
    --medium: 900px;
    --large: 1100px;
    --very-large: 1300px;
    --super-large: 1600px;
    --huge: 1920px;
}

*,
html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphie", sans-serif, system-ui, -apple-system;
    font-weight: normal;
}

body {
    background: #FCFCFA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input,
select,
textarea,
button {
    margin: 0;
    font: inherit;
}

img {
    border-style: none;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #E1FF0F;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF7133;
}

::-webkit-scrollbar-button {
    display: none;
    /* hide scroll bar buttons */
}